* {
  /* background-color: #bfbfbf; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas:
    "leftnav rightnav"
    "content content";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 4fr;
  height: 100vh;
  margin-right: 20px;
  text-align: center;
  width: 100%;
}

.menu {
  align-items: center;
  background-color: #c9e1ff;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: rightnav;
}

.search-form {
  align-items: center;
  background-color: #c9e1ff;
  border: 1px solid black;
  display: flex;
  grid-area: leftnav;
  justify-content: center;
}

.news-container {
  border: 3px solid black;
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
}
