.news-article {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  padding: 10px;
}

.news-article:hover {
  background-color: #ccafbd;
}

.news-img {
  height: 200px;
  width: auto;
}
